form {
  display: flex;
  justify-content: center;
}

input {
  width: 16em;
}

input, button {
  padding: 0.8em;
  font-size: 1.1em;
  font-family: 'Newsreader', serif;
}

button {
  margin: 2em 4em;
  padding: 0.8em;
  background-color: rgb(30 64 175);
  color: #fff;
  font-weight: 500;
}

button:hover {
  background-color: rgb(96 165 250);
  cursor: pointer;
}

.search-btn,
.clear-btn {
  margin: 0;  
}

@media (max-width: 620px) {
  input {
    width: 12em;
  }
}

@media (max-width: 500px) {
  input {
    width: 10em;
  }

  input, button {
  padding: 0.5em;
  font-size: 1em;
}
}